#adminTopNav ul li a{
    color:#ffffff;
}
#menuBarBtn{
    cursor:pointer;
    color:#ffffff;
    width:2rem;
    height:2rem;
}
#sideNav{
    /* display:inline-block; */
    margin-top:1.8rem;
    padding:1.6rem 0 0 0;
    background-color: rgba(29, 28, 28, 0.801);
    position:fixed;
    height:100vh;
    width:250px;
    color:rgba(255, 255, 255, 0.849);
}
#sideNav ul li{
    list-style:none;
    padding:.5rem 0;
    text-align: center;
    cursor:pointer;
}
#sideNav ul li a{
    width:100%;
    text-decoration: none;
    text-transform: uppercase;
    font-size:1.4rem;
    color:#ffffff;
}
#sideNav ul li:hover{
    background-color: rgb(17, 17, 34);
}


.admin-wrapper{
    display:flex;
    flex-direction: row;
}


/*

    ADMIN ROLE SET PORTION

*/
#admin_role,#admin_project,#admin_technology,#admin_contact,#admin_team,#admin_gallery,#admin_other,#admin_database{
    margin-top:4rem;
    margin-left:250px;
    width:calc(100% - 260px);
}

.roleCheckBox{
    width:100%;
}
.roleCheckBox label{
    width:100%;
    margin:0.5rem 0;
}
.roleCheckBox label input{
   margin-right:0.5rem;
}

/*  ADMIN PROJECT SECTION*/


#projectTable img{
    width:100px;
}
#projectTable a{
    cursor:pointer;
}


/* ADMIN TECHNOLOGY SECTION*/

#addTechnologyDiv{
    background-color: rgba(58, 12, 66, 0.651);
    border:2px solid rgb(31, 68, 70);
    border-radius: 10px;
    padding:1rem;
    margin:1rem 0;
}
#addTechnologyDiv label{
    font-size: 1.3rem;
    color:rgb(198, 214, 127);
}
#addTechnologyDiv input{
    font-size: 1.3rem;
    color:#181414;
}

/*
    GALLERY IMAGE
*/

#imgPreview{
    width:100%;
    height:350px;
}
#imgPreview img{
    width:100%;
    height:100%;
}

#galleryImage .galleryImgDiv{
    max-width:300px;
    padding:1rem;
}
#galleryImage .galleryImgDiv img{
    width:100%;
}


/*
USERs Admin Panel
*/

#user-wrapper{
    display:flex;
    flex-direction: row;
    position: relative;
}

#userTopNav ul li a{
    color:#ffffff;
}
#userMenuBarBtn{
    cursor:pointer;
    color:#ffffff;
    width:2rem;
    height:2rem;
}
#userSideNav{
    display:inline-block;
    margin-top:1.8rem;
    padding:1.6rem 0 0 0;
    background-color: rgba(29, 28, 28, 0.801);
    position:relative;
    height:100vh;
    width:250px;
    color:rgba(255, 255, 255, 0.849);
}
#userSideNav ul li{
    list-style:none;
    padding:.5rem 0;
    text-align: left;
    cursor:pointer;
}
#userSideNav ul li a{
    width:100%;
    text-decoration: none;
    text-transform: uppercase;
    font-size:1.4rem;
    color:#ffffff;
    margin-left:50px;
}
#userSideNav ul li:hover{
    background-color: rgb(17, 17, 34);
}



#user_project_show,#user_post_show,#user_profile_show{
    margin-top:4rem;
    width:calc(100% - 250px);
}

/* User Project Section */

#userAllProjects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-projects{
    width:32%;
    margin:1% 1% 1% 0;
    height:auto;
}

.user-projects img{
    width:100%;
}

.project-image-preview{
    width:300px;
    height:200px;
}

.project-image-preview img{
    width:100%;
    height:100%;
}

/* User Profile */

#educationAppend p{
    display: flex;
    flex-direction: column;
}
.social-media label{
    width:6.5rem;
    text-transform: uppercase;
}

/*
    User Post Section
*/

#create_post{
    display:flex;
    flex-direction: column;
    width:100%;
}

#create_post .editor-icon-list{
    margin:1rem 0;
}
#create_post .editor-icon-list button,select,option{
    margin:0 0.3rem;
    padding:0.2rem 0.4rem;
    cursor:pointer;
}
#create_post iframe{
    margin:0 0 1rem 0;
    width:100%;
    min-height: 50vh;
}


/* Other Portion */

.tag-item{
    padding:2px 4px;
    margin:2px;
    font-size:1.5rem;
    background-color: rgba(63, 36, 82, 0.842);
    color:#fff;
    border-radius: 5px;
}


/*
    MESSAGE 
*/



#userMessageBtn{
    position: relative;
}

.message-dropdown{
    position:absolute;
    width:12rem;
    height:auto;
    z-index: 10;
    padding-top:1px;
    background-color: rgba(25, 23, 32, 0.897);
    color:#ffffff;
    text-align: center;
    border-radius: 5px;
}
.message-dropdown .user-list-item{
    width:100%;
    font-size:1rem;
    padding:5px 0;
    cursor: pointer;
}
.message-dropdown .user-list-item:hover{
    background-color: rgba(210, 210, 214, 0.87);
}
.message-dropdown .user-list-item:hover:first-child{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.message-dropdown .user-list-item:hover:last-child{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.message-dropdown .user-list-item:hover a{
    color:#000 !important;
}









.message-box{
    position: absolute;
    width:400px;
    height: 500px;
    border:2px solid rgba(53, 125, 167, 0.753);
    bottom:0;
    right:20%;
    box-sizing: content-box;
    background-color: rgba(147, 147, 172, 0.801);
    border-radius: 5px;
}
.message-header{
    height:3rem;
    background-color: rgb(46, 102, 175);
    color:#ffffff;
    font-size: 2rem;
}
.message-header span{
    color:#000000;
    font-size:1.5rem;
    cursor:pointer;
    margin-right: 5px;
}
.message-img{
    width:40px;
    height: 40px;
    margin:5px 0px 0px 5px;
    border-radius: 50%;
}

.message-footer{
    width:100%;
    height:3rem;
    position:absolute;
    bottom:0;
    background-color: rgb(46, 102, 175);
    color:#ffffff;
    font-size: 2rem;
}
.message-footer input{
    width:100%;
    padding:3px 3%;
    height:100%;
    border:0;
}
.message-footer input:focus{
    outline:0;
}
.message-body{
    overflow-y: scroll;
    width:100%;
    height:calc(500px - 6rem);
    position: relative;
}
.incoming-msg{
    float:left;
    width:65%;
    height:auto;
    margin:0.5rem 0;
    padding:5px;
    background-color: rgba(55, 127, 175, 0.74);
    border-radius: 1rem;
    font-size:1.2rem;
}
.outgoing-msg{
    float:right;
    width:65%;
    height:auto;
    margin:0.5rem 0;
    padding:5px;
    background-color: rgba(14, 101, 214, 0.863);
    border-radius: 1rem;
    font-size:1.2rem;
}


.group-message-box{
    position: absolute;
    width:400px;
    height: 500px;
    border:2px solid rgba(53, 125, 167, 0.753);
    bottom:0;
    right:20%;
    box-sizing: content-box;
}
.group-message-box .img{
    width:40px;
    height:40px;
    border-radius: 50%;
}
.group-message-box .incoming-msg,.outgoing-msg{
    display: flex;
    flex-wrap: wrap;
}
.group-message-box .outgoing-msg{
    justify-content: end;
}